**/Library/
**/Temp/
**/obj/

**/.vscode
/.vsconfig
**/.vs
**/.editorconfig

**/Assets/Plugins/*
**/Assets/Plugins.meta
/Logs/
/UserSettings/

*.idea
*.csproj
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*~
*.swp

.vs/
build/*
/.gradle/

/builds/

